extends layout

block content
  h2.text-center BlessThisMess

  .row
    .offset-sm-2.col-sm-8
      .jumbotron.text-center.
        Welcome to the BlessThisMess Home organization web app! Please visit the
        #[a(href="https://github.com/rsaund05/blessthismess", title="BlessThisMess on GitHub") GitHub page] to learn more.