extends layout

block content
  h2.text-center BlessThisMess
<<<<<<< HEAD
<<<<<<< HEAD
  div.index-div.centred(style='background-color: #e8eaff;')
=======
  div.index-div
>>>>>>> parent of da60ed2 (fixed a couple of 404s)
=======
  div.index-div(style='background-color: #e8eaff;')
>>>>>>> parent of 2d26ae5 (...)
    p Welcome to the BlessThisMess Home organization web app! 
    p #[strong The app is currently under construction!] Please visit the
    p #[a(href="https://github.com/rsaund05/blessthismess", title="BlessThisMess on GitHub") BlessThisMess GitHub page] to learn more.
  div.etc-div
    br
    a.btn.btn-primary.button-shadow(href='/login') Login to BlessThisMess