extends layout

block content
    div.form-div.default-shadow(style='background-color: #e8eaff;')
        h5 Login to BlessThisMess
        form.form-signin(action='/login' method='POST')
            | Email
            input.form-control.form-rounded.form-control-sm(type='email' name='emailField' placeholder='Enter email')
            | Password
            input.form-control.form-rounded.form-control-sm(type='password' name='passField' placeholder='Enter password')
            br
            input.btn.btn-primary(type='submit' name='loginButton' value='Submit')
            

    div.form-div
        hr
        h6 Not registered? Click/Tap here to create a BlessThisMess account!    
        button.btn.btn-warning.button-shadow(type='button' name='createAcct' onclick='location.href="/"') Register New User 