extends layout

block content
    div.container-fluid
        h1.navbar-header Login to BlessThisMess
        p username
        input(type='textbox' name='userField')
        p password
        input(type='password' name='passField')
        p 
        input(type='submit' name='submitLogin' value='Login')