extends layout

block content
   div.form-div.default-shadow(style='background-color: #e8eaff;')
        h5 Create a New BlessThisMess Acount
        form.form-signin(action='/users/register' method='POST')
            | User/Family Name
            input.form-control.form-rounded.form-control-sm(type='text', name='userField' placeholder='Enter a user or family name here')
            | Email
            input.form-control.form-rounded.form-control-sm(type='email' name='emailField' placeholder='Enter email')
            | Password
            input.form-control.form-rounded.form-control-sm(type='password' name='passField' placeholder='Enter password')
            | Confirm Password 
            input.form-control.form-rounded.form-control-sm(type='password' name='passFieldConfirm' placeholder='Enter password')
            br
            input.btn.btn-primary(type='submit' value='Register')
            
